<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
     <add name="PedagogyWorldConnectionString" connectionString="Server=cd3eabab-9b1c-46d8-bfda-a101004d18ca.sqlserver.sequelizer.com;Database=dbcd3eabab9b1c46d8bfdaa101004d18ca;User ID=yybhosrusnvurqor;Password=Qr6BKVy3hGLnNWwwYi8cBT8UekAD4qYmd6iNu4mkHiicfBi4jB7FMEm5rkwyt48Z;" providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>