@{
    ViewBag.Title = "TakeATour";
}

<div style="text-align: center">
   <img src="~/Images/take-a-tour.png" alt="" /></div>


<a href="http://www.vimeo.com" target="_blank">
   <div style="margin-top: 40px; text-align: center">
      <img src="~/Images/film.png" alt="" /></div>
</a>

<a href="@Url.Action("Index","Units", new { Area=""})">
   <h1 style="float: right">Skip</h1>
</a>