@model PedagogyWorld.Data.District

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>District</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Schools</div>
    <div class="display-field">@(Model.Schools == null ? "None" : Model.Schools.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


