@model PedagogyWorld.Subject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Subject</legend>

    <div class="display-label">Subject</div>
    <div class="display-field">@Model.SubjectName</div>

    <div class="display-label">Units</div>
    <div class="display-field">@(Model.Units == null ? "None" : Model.Units.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


