@if (Request.IsAuthenticated) {
    <text>
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", new { Area=""}, new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", new { Area = "" }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", new { Area=""}, new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { Area=""}, new { id = "loginLink" })</li>
    </ul>
}
