@model PedagogyWorld.Grade

<div class="editor-label">
    @Html.LabelFor(model => model.GradeName,"Grade")
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.GradeName)
    @Html.ValidationMessageFor(model => model.GradeName)
</div>

