@{
    ViewBag.Title = "MyUnits";
}

<div>
    <div style="float:left">
        <a href="@Url.Action("AddFiles","Home")"><img src="~/Content/Images/Add-Files.png" alt="My Units"/></a>
        <br/>
        <img src="~/Content/Images/Download-Files.png" alt="My Units"/>
    </div>
    <div style="float:left;margin-left:100px;">
        
        <a href="@Url.Action("NewUnit", "Home", new { Area="Member"})">Create new Unit</a>
        <table style="border-width: 4px;border-style:solid;">
            @foreach (var t in ViewBag.UnitCollection)
            {
                <tr>
                    <td>&nbsp;&nbsp;<input type="checkbox"/></td>
                    <td>1</td>
                    <td><a href="@Url.Action("UnitOverview", "Home", new { Area="Member", Id = t.Id})">@t.Name</a></td>
                </tr>          
            }
        </table>
    </div>
    <div style="float:right">
        <img src="~/Content/Images/Ask-Ms-Jean.png" alt="Ask Ms Jean"/>
    </div>
</div>
