@{
    ViewBag.Title = "TakeATour";
}

<div style="text-align:center"><img src="~/Content/Images/take-a-tour.png" alt=""/></div>


<a href="http://youtube.com" target="_blank"><div style="margin-top:40px;text-align:center"><img src="~/Content/Images/film.png" alt=""/></div></a>

<a href="@Url.Action("MyUnits", new { Area="Member"})"><h1 style="float:right">Skip</h1></a>