@{
    ViewBag.Title = "UnitOverview";
}

<h2>UNIT: Geometry - Area</h2>
<h2>Grade 3</h2>
<h2>Mathematics</h2>

<div style="background-color:green;text-align:center; width:600px;height:60px; color:white;">Standard: 3.ND Geometric measurement: understand concepts of area and relate area to multiplication and to addition</div>

<h1 style="background-color:orange;text-align:center; width:200px;height:80px; ">Instructional Materials</h1>

<div style="float:left">
    <table style="border-width: 4px;border-style:solid;">
        <tr><td  style="border-width: 2px;border-style:solid;background-color:skyblue">File Names</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Concept of Area</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Formulas</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Demonstration</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Worksheets</td></tr>
    </table>
</div>
<div style="clear:both"/>
<div style="float:left">
    <h1 style="background-color:orange;text-align:center; width:200px;height:80px; ">Assessments</h1>

    <table style="border-width: 4px;border-style:solid;">
        <tr><td  style="border-width: 2px;border-style:solid;background-color:skyblue">File Names</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Area Home Work</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Area Assessment</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">School Assessment</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Formulae Quiz</td></tr>
    </table>
</div>
<div style="clear:both"/>
<div style="float:left">
    <h1 style="background-color:orange;text-align:center; width:200px;height:80px; ">Projects</h1>

    <table style="border-width: 4px;border-style:solid;">
        <tr><td  style="border-width: 2px;border-style:solid;background-color:skyblue">File Names</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Concept of Area</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Measurement of Coins</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Demonstration</td></tr>
    </table>
</div>
<div style="clear:both"/>

<div style="float:left">
    <h1 style="background-color:green;text-align:center; width:200px;height:80px; ">Pre-requisites</h1>

    <table style="border-width: 4px;border-style:solid;">
        <tr><td  style="border-width: 2px;border-style:solid;background-color:skyblue">File Names</td></tr>
        <tr><td  style="border-width: 2px;border-style:solid;background-color:lightblue">Concept of Measurement</td></tr>
        <tr><td style="border-width: 1px;border-style:solid;background-color:lightblue">Concept of Area</td></tr>
    </table>
</div>
<div style="clear:both"/> <br />
    <table style="border-width: 4px;border-style:solid;">
        <tr>
            <td style="border-width: 2px;border-style:solid;background-color:skyblue">&nbsp;&nbsp;</td>
            <td  style="border-width: 2px;border-style:solid;background-color:skyblue">Outcomes</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<input type="checkbox"/></td>
            <td  style="border-width: 2px;border-style:solid;background-color:lightblue">Critical Thinking</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<input type="checkbox"/></td>
            <td  style="border-width: 2px;border-style:solid;background-color:lightblue"> Thinking</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<input type="checkbox"/></td>
            <td  style="border-width: 2px;border-style:solid;background-color:lightblue">Critical</td>
        </tr>
        <tr>
            <td>&nbsp;&nbsp;<input type="checkbox"/></td>
            <td  style="border-width: 2px;border-style:solid;background-color:lightblue">Thinking Critical </td>
        </tr>
    </table>

<div style="float:right">
    <img src="~/Content/Images/Ask-Ms-Jean.png" alt="Ask Ms Jean"/>
</div>
