@model IEnumerable<PedagogyWorld.Models.PlannerModel>
@{
    ViewBag.Title = "Planner";
}

<style type='text/css'>
	#wrap {
		width: 1100px;
		margin: 0 auto;
		}
		
	#external-events {
		float: left;
		width: 150px;
		padding: 0 10px;
		border: 1px solid #ccc;
		background: #eee;
		text-align: left;
		}
		
	#external-events h4 {
		font-size: 16px;
		margin-top: 0;
		padding-top: 1em;
		}
		
	.external-event { /* try to mimick the look of a real event */
		margin: 10px 0;
		padding: 2px 4px;
		background: #3366CC;
		color: #fff;
		font-size: .85em;
		cursor: pointer;
		}
		
	#external-events p {
		margin: 1.5em 0;
		font-size: 11px;
		color: #666;
		}
		
	#external-events p input {
		margin: 0;
		vertical-align: middle;
		}

	#calendar {
		float: right;
		width: 900px;
		}

</style>

<div id='wrap'>
   <div id='external-events' style="float: left">
      <h4>My Files</h4>
      @foreach (var t in Model)
      {
         <div class='external-event'  id="@t.Id" >@t.FileName</div>
      }
   </div>

   <div id='calendar'></div>

   <div style='clear: both'></div>
</div>

@section Scripts {

   @Scripts.Render("~/bundles/jqueryval")

   <link rel='stylesheet' type='text/css' href='~/Content/fullcalendar.css' />
   <link rel='stylesheet' type='text/css' href='~/Content/fullcalendar.print.css' media='print' />

   <script type='text/javascript' src='~/Scripts/Calender/jquery-1.8.1.min.js'></script>
   <script type='text/javascript' src='~/Scripts/Calender/jquery-ui-1.8.23.custom.min.js'></script>

   <script type='text/javascript' src='~/Scripts/Calender/fullcalendar.min.js'></script>
   <script type='text/javascript'>

      $(document).ready(function() {
         $('#external-events div.external-event').each(function() {
            var eventObject = {
               title: $.trim($(this).text()),
               id: $(this).attr('id')
            };
            $(this).data('eventObject', eventObject);
            $(this).draggable({
               zIndex: 999,
               revert: true,
               revertDuration: 0
            });
         });

         $('#calendar').fullCalendar({
            header: {
               left: 'prev,today,next',
               center: 'title',
               right: 'month,agendaWeek,agendaDay'
            },        
            editable: true,
            droppable: true,
            drop: function (date, allDay, callback) {
               var originalEventObject = $(this).data('eventObject');
               var copiedEventObject = $.extend({}, originalEventObject);
               copiedEventObject.start = date;
               copiedEventObject.allDay = allDay;
               $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
               $.post("/File/AddPlannerFile",
                  {
                     id: copiedEventObject.id,
                     year: copiedEventObject.start.getYear(),
                     month: copiedEventObject.start.getMonth(),
                     day: copiedEventObject.start.getDate()
                  }, callback);
            },
            eventDrop: function (event, callback) {
               $.post("/File/ChangePlannerFile",
                  {
                     id: event.id,
                     startYear: event.start.getYear(),
                     startMonth: event.start.getMonth(),
                     startDay: event.start.getDate(),
                     endYear: event.end.getYear(),
                     endMonth: event.end.getMonth(),
                     endDay: event.end.getDate()
                  }, callback);
            },
            eventResize: function (event, callback) {
               $.post("/File/ChangePlannerFile",
                  {
                     id: event.id,
                     startYear: event.start.getYear(),
                     startMonth: event.start.getMonth(),
                     startDay: event.start.getDate(),
                     endYear: event.end.getYear(),
                     endMonth: event.end.getMonth(),
                     endDay: event.end.getDate()
                  }, callback);
            },
            viewDisplay: function (event) {
               $.ajax({
                  type: "POST",
                  url: "/File/LoadPlanner",
                  data: {
                     month: event.start.getMonth(),
                     year: event.start.getYear()
                  }
               }).done(function(files) {
                  $.each(files, function (index, value) {
                     $('#calendar').fullCalendar('renderEvent', value, true);
                  });
               });
            }
         });
      });
   </script>
}